# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
**/node_modules
**/bower_components

# Secrets
**/.git
**/*.env
**/*.env.*
**/secrets/**
**/secrets.js
**/secrets.*.js
**/secrets.ts
**/secrets.*.ts
**/secrets.json
**/secrets.*.json

# Development
/onionscan
/coverage

# Deployment
**/build
**/dist
**/*.min.*
**/*.bundle.*
**/*.map.js

# Secrets
**/.DS_Store
**/*.env
**/*.env.*
!**/.env.example
**/.history
**/secrets.js
**/secrets.*.js

# Temporary files
**/tmp
**/temp
**/backup
**/cache
**/logs
**/*.log
