# Dependencies
**/node_modules
**/bower_components

# Secrets
hostname.txt
**/.git
**/*.env
**/*.env.*
**/secrets.js
**/secrets.*.js
**/secrets.ts
**/secrets.*.ts
**/secrets.json
**/secrets.*.json
**/secrets/**

# Build
/build
/dist
**/*.bundle.js
**/*.map
**/*.min.*

# Debug
/onionscan
/coverage
/logs
**/*.log

# Miscellaneous
**/.svn
**/.hg
**/*.cmd
**/*.bat
