# We use the reserved private subnet 10.5.0.0/16 (::ffff:a05:0/112)
# https://en.wikipedia.org/wiki/Reserved_IP_addresses
services:
  'tor-init':
    container_name: 'tor-init'
    profiles:
      - 'production'
    restart: 'no'
    build:
      context: './config/tor'
      dockerfile: './Dockerfile'
      target: 'init'
    volumes:
      - type: 'bind'
        source: './config/tor/secrets/'
        target: '/secrets/'
  'tor':
    container_name: 'tor'
    profiles:
      - 'production'
    depends_on:
      'tor-init':
        condition: 'service_completed_successfully'
        required: true
      'nginx':
        condition: 'service_started'
        required: true
    build:
      context: './config/tor'
      dockerfile: './Dockerfile'
      target: 'run'
    volumes:
      - type: 'bind'
        source: './config/tor/secrets/'
        target: '/var/lib/tor/website/'
    sysctls:
      - 'net.ipv6.conf.all.disable_ipv6=0'
    networks:
      - 'tor'
      - 'nginx'
  'nginx':
    container_name: 'nginx'
    depends_on:
      'express':
        condition: 'service_started'
        required: false
    image: 'openresty/openresty:1.21.4.1-0-alpine'
    volumes:
      # Overwriting default config without affecting other default files
      - type: 'bind'
        source: './config/nginx/conf/nginx.conf'
        target: '/usr/local/openresty/nginx/conf/nginx.conf'
        read_only: true
      # Adding custom configs
      - type: 'bind'
        source: './config/nginx/conf/conf.d/'
        target: '/etc/nginx/conf.d/'
        read_only: true
      # Adding custom HTML
      - type: 'bind'
        source: './config/nginx/html/'
        target: '/usr/local/openresty/nginx/html/'
        read_only: true
    networks:
      'nginx':
        ipv4_address: '10.5.0.2'
  'nginx-debug':
    container_name: 'nginx_debug'
    profiles:
      - 'development'
    depends_on:
      - nginx
    build:
      context: './config/container-link'
      dockerfile: './Dockerfile'
    environment:
      - 'FORWARD_IP=10.5.0.2:80'
    ports:
      - ':80'
    networks:
      'nginx':
        ipv4_address: '10.5.0.254'
  'express':
    container_name: 'express'
    depends_on:
      'kafka':
        condition: 'service_started'
        required: true
    restart: 'on-failure'
    build:
      context: './config'
      dockerfile: './express/Dockerfile'
    env_file: './config/express/.env'
    environment:
      - 'GROUP_ID=frontend'
    networks:
      'express':
        ipv4_address: '10.5.2.2'
      'kafka':
        ipv4_address: '10.5.1.4'
  'express-debug':
    container_name: 'express_debug'
    profiles:
      - 'development'
    depends_on:
      - express
    build:
      context: './config/container-link'
      dockerfile: './Dockerfile'
    environment:
      - 'FORWARD_IP=10.5.2.2:3000'
      - 'EXPOSE_PORT=3000'
    ports:
      - ':3000'
    networks:
      'express':
        ipv4_address: '10.5.2.254'
  'kafka':
    container_name: 'kafka_broker'
    build:
      context: './config/kafka'
      dockerfile: './Dockerfile'
    volumes:
      - type: 'volume'
        source: 'kafka-secrets'
        target: '/etc/kafka/secrets'
      - type: 'volume'
        source: 'kafka-config'
        target: '/mnt/shared/config'
      - type: 'volume'
        source: 'kafka-data'
        target: '/var/lib/kafka/data'
    networks:
      'kafka':
        ipv4_address: '10.5.1.2'
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT_HOST://10.5.1.2:9092,PLAINTEXT://kafka_broker:19092'
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka_broker:29093'
      KAFKA_LISTENERS: 'CONTROLLER://:29093,PLAINTEXT_HOST://:9092,PLAINTEXT://:19092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      CLUSTER_ID: '60dfc0be-bd99-4362-9712-63ae3d5026fd'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
  'backend':
    container_name: 'backend'
    depends_on:
      - 'kafka'
    links:
      - 'mongo' # Implicit depends_on
    restart: 'on-failure'
    build:
      context: './config/backend'
      dockerfile: './Dockerfile'
    env_file:
      - './config/backend/.env'
    environment:
      - 'BROKERS=10.5.1.2:9092'
      - 'GROUP_ID=backend'
    networks:
      'kafka':
        ipv4_address: '10.5.1.3'
      'mongo':
  'mongo':
    container_name: 'mongo'
    restart: 'on-failure'
    mem_swappiness: 1 # Doesn't affect /proc/sys/vm/swappiness, so mongosh still gives a warning
    build:
      context: './config/mongo'
      dockerfile: './Dockerfile'
      target: 'run'
    volumes:
      - type: 'volume'
        source: 'mongo-db'
        target: '/data/db'
      - type: 'volume'
        source: 'mongo-configdb'
        target: '/data/configdb'
    env_file:
      - './config/mongo/.env'
    networks:
      - 'mongo'
  'mongo-debug':
    container_name: 'mongo_debug'
    profiles:
      - 'development'
    depends_on:
      - 'mongo'
    restart: 'on-failure'
    image: 'mongo-express:1.0.2'
    ports:
      - ':8081'
    env_file:
      - './config/mongo/debug/.env'
    environment:
      # Theme demo:
      # https://codemirror.com/5/demo/theme.html#tomorrow-night-bright
      ME_CONFIG_OPTIONS_EDITORTHEME: 'tomorrow-night-bright'
    networks:
      'mongo':
        ipv4_address: '10.5.3.254'
volumes:
  'kafka-secrets':
  'kafka-config':
  'kafka-data':
  'mongo-db':
  'mongo-configdb':
networks:
  'tor':
    driver: 'bridge'
    enable_ipv4: true
    enable_ipv6: true
    driver_opts:
      com.docker.network.bridge.gateway_mode_ipv4: 'nat'
      com.docker.network.bridge.gateway_mode_ipv6: 'nat'
  'nginx':
    driver: 'bridge'
    enable_ipv4: true
    enable_ipv6: false
    ipam:
      config:
        - subnet: '10.5.0.0/24'
          gateway: '10.5.0.1'
  'express':
    driver: 'bridge'
    enable_ipv4: true
    enable_ipv6: false
    ipam:
      config:
        - subnet: '10.5.2.0/24'
          gateway: '10.5.2.1'
  'kafka':
    driver: 'bridge'
    enable_ipv4: true
    enable_ipv6: false
    ipam:
      config:
        - subnet: '10.5.1.0/24'
          gateway: '10.5.1.1'
  'mongo':
    driver: 'bridge'
    enable_ipv4: true
    enable_ipv6: false
    ipam:
      config:
        - subnet: '10.5.3.0/24'
          gateway: '10.5.3.1'
