# We use the reserved private subnet 10.5.0.0/16 (::ffff:a05:0/112)
# https://en.wikipedia.org/wiki/Reserved_IP_addresses
services:
  'tor-init':
    container_name: 'tor-init'
    profiles:
      - 'production'
    restart: 'no'
    build:
      context: './config/tor'
      dockerfile: './Dockerfile'
      target: 'init'
    volumes:
      - type: 'bind'
        source: './config/tor/secrets/'
        target: '/secrets/'
    network_mode: 'none'
  'tor':
    container_name: 'tor'
    profiles:
      - 'production'
    depends_on:
      'tor-init':
        condition: 'service_completed_successfully'
        required: true
      'nginx':
        condition: 'service_started'
        required: true
    build:
      context: './config/tor'
      dockerfile: './Dockerfile'
      target: 'run'
    volumes:
      - type: 'bind'
        source: './config/tor/secrets/'
        target: '/var/lib/tor/website/'
    sysctls:
      - 'net.ipv6.conf.all.disable_ipv6=0'
    networks:
      - 'tor'
      - 'nginx'
  'nginx':
    container_name: 'nginx'
    depends_on:
      'express':
        condition: 'service_started'
        required: false
    image: 'openresty/openresty:1.21.4.1-0-alpine'
    volumes:
      # Overwriting default config without affecting other default files
      - type: 'bind'
        source: './config/nginx/conf/nginx.conf'
        target: '/usr/local/openresty/nginx/conf/nginx.conf'
        read_only: true
      # Adding custom configs
      - type: 'bind'
        source: './config/nginx/conf/conf.d/'
        target: '/etc/nginx/conf.d/'
        read_only: true
      # Adding custom HTML
      - type: 'bind'
        source: './config/nginx/html/'
        target: '/usr/local/openresty/nginx/html/'
        read_only: true
    networks:
      'nginx':
        ipv4_address: '10.5.0.2'
      'express':
        ipv4_address: '10.5.2.3'
  'nginx-debug':
    container_name: 'nginx-debug'
    profiles:
      - 'development'
    depends_on:
      - nginx
    build:
      context: './config/container-link'
      dockerfile: './Dockerfile'
    environment:
      - 'FORWARD_IP=10.5.0.2:80'
    ports:
      - ':80'
    networks:
      'nginx':
        ipv4_address: '10.5.0.254'
  'express':
    container_name: 'express'
    links:
      - 'mongo' # Implicit depends_on
    restart: 'on-failure'
    build:
      context: './config/express'
      dockerfile: './Dockerfile'
    env_file: './config/express/.env'
    environment:
      - 'NODE_ENV=production'
      - 'GROUP_ID=frontend'
    networks:
      'express':
        ipv4_address: '10.5.2.2'
      'mongo':
  'express-debug':
    container_name: 'express-debug'
    profiles:
      - 'development'
    depends_on:
      - express
    build:
      context: './config/container-link'
      dockerfile: './Dockerfile'
    environment:
      - 'FORWARD_IP=10.5.2.2:3000'
      - 'EXPOSE_PORT=3000'
    ports:
      - ':3000'
    networks:
      'express':
        ipv4_address: '10.5.2.254'
  'mongo':
    container_name: 'mongo'
    restart: 'on-failure'
    mem_swappiness: 1 # Doesn't affect /proc/sys/vm/swappiness, so mongosh still gives a warning
    build:
      context: './config/mongo'
      dockerfile: './Dockerfile'
      target: 'run'
    volumes:
      - type: 'volume'
        source: 'mongo-db'
        target: '/data/db'
      - type: 'volume'
        source: 'mongo-configdb'
        target: '/data/configdb'
    env_file:
      - './config/mongo/.env'
    networks:
      - 'mongo'
  'mongo-debug':
    container_name: 'mongo-debug'
    profiles:
      - 'development'
    depends_on:
      - 'mongo'
    restart: 'on-failure'
    image: 'mongo-express:1.0.2'
    ports:
      - ':8081'
    env_file:
      - './config/mongo/debug/.env'
    environment:
      # Theme demo:
      # https://codemirror.com/5/demo/theme.html#tomorrow-night-bright
      ME_CONFIG_OPTIONS_EDITORTHEME: 'tomorrow-night-bright'
    networks:
      'mongo':
        ipv4_address: '10.5.1.254'
volumes:
  'mongo-db':
  'mongo-configdb':
networks:
  'tor':
    driver: 'bridge'
    enable_ipv4: true
    enable_ipv6: true
    driver_opts:
      com.docker.network.bridge.gateway_mode_ipv4: 'nat'
      com.docker.network.bridge.gateway_mode_ipv6: 'nat'
  'nginx':
    driver: 'bridge'
    enable_ipv4: true
    enable_ipv6: false
    ipam:
      config:
        - subnet: '10.5.0.0/24'
          gateway: '10.5.0.1'
  'express':
    driver: 'bridge'
    enable_ipv4: true
    enable_ipv6: false
    ipam:
      config:
        - subnet: '10.5.2.0/24'
          gateway: '10.5.2.1'
  'mongo':
    driver: 'bridge'
    enable_ipv4: true
    enable_ipv6: false
    ipam:
      config:
        - subnet: '10.5.1.0/24'
          gateway: '10.5.1.1'
