<!DOCTYPE html>
<html lang="en">
    <%- include('../../common/header', { title: 'Home' }) %>
    <body>
        <h1>Home</h1>
        <%- include('../../common/nav') %>
        <p>Welcome. Check out some of our pages.</p>
    </body>
    <%- include('../../common/scripts') %>
</html>
