{
    "singleQuote": true,
    "trailingComma": "none",
    "requirePragma": false,
    "arrowParens": "always",
    "useTabs": false,
    "tabWidth": 4,
    "semi": true,
    "endOfLine": "lf",
    "printWidth": 80,
    "jsxSingleQuote": true,
    "overrides": [
        {
            "files": [
                "**/*.md",
                "**/*.yml",
                "**/*.yaml",
                "**/Dockerfile",
                "**/*.dockerfile",
                "**/mongod.conf"
            ],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["**/mongod.conf"],
            "options": {
                "parser": "yaml"
            }
        }
    ]
}
