<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../common/header') %>
        <title>Server Status</title>
    </head>
    <body>
        <h1>Server Status</h1>
        <%- include('../../common/nav') %>
        <p><%- msg %></p>
    </body>
    <%- include('../../common/scripts') %>
</html>
