<!DOCTYPE html>
<html lang="en">
    <%- include('../../common/header', { title: 'Server Status' }) %>
    <body>
        <h1>Server Status</h1>
        <%- include('../../common/nav') %>
        <p><%- msg %></p>
    </body>
    <%- include('../../common/scripts') %>
</html>
