# Database name
MONGO_INITDB_DATABASE="msg_board"

# Database administrator credentials specified by file
MONGO_INITDB_ROOT_USERNAME_FILE="/run/secrets/root/username.txt"
MONGO_INITDB_ROOT_PASSWORD_FILE="/run/secrets/root/password.txt"

# Database user credentials (used by the container)
USERNAME_FILE="/run/secrets/express/username.txt"
PASSWORD_FILE="/run/secrets/express/password.txt"
