# Database name
MONGO_INITDB_DATABASE="msg_board"

# Database administrator credentials specified by file
MONGO_INITDB_ROOT_USERNAME_FILE="/run/secrets/root_username.txt"
MONGO_INITDB_ROOT_PASSWORD_FILE="/run/secrets/root_password.txt"

# Database user credentials (used by the container)
USERNAME_FILE="/run/secrets/username.txt"
PASSWORD_FILE="/run/secrets/password.txt"
