# Your domain here
ONION_HOSTNAME="abcdefghabcdefghabcdefghabcdefghabcdefghabcdefghabcdefgh.onion"

# Same express credentials for mongo, formatted as a replica set URL
MONGODB_URI="mongodb://user:pass@mongo-1,user:pass@mongo-2,user:pass@mongo-3:27017/msg_board?replicaSet=dataset"

# Enable debug mode
# DEBUG=express:*
